.card-date {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 390px;
  width: 30%;
  max-width: 600px;
  height: 100%;
  border: var(--color-gray) 1px solid;
  border-top: none;
  border-bottom: none;
  text-align: center;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.card-date h1, .card-date h2, .card-date h3, .card-date hr, .card-date figure {
  will-change: color, transform, background-color;
  transition: 0.3s ease-in-out;
}
.card-date figure img{
  filter: grayscale();
}


.card-date:hover {
  min-width: 450px;
  border: var(--color-main);
  box-shadow: var(--shadow-light);
  z-index: 999;
}
.card-date:hover figure img {
  filter: none;
}
.card-date:hover > h1 {
  color: var(--color-main);
}
.card-date:hover > h2 {
  color: var(--color-main);
}
.card-date:hover > h3 {
  color: var(--color-main);
}
.card-date:hover > hr {
  background-color: var(--color-main);
}

.card-date:hover figure{
  transform: scale(1.2);
}

.card-date hr{
  width: 60%;
  height: 1px;
  margin: 2rem 0;
}
.card-date h3 {
  margin: 1rem 0 2rem 0;
}

@media screen and (max-width: 300px){
  .card-date{
    min-width: 300px;
  }
}
