.sidebar{
  position: relative;
  width: 30%;
  height: 100vh;
  box-shadow: var(--shadow-dark);
  transition: 0.3s ease-in-out;
}

.sidebar h2 {
  position: relative;
  left: -2.7rem;
}

.sidebar__content hr{
   margin: var(--space-normal) 0;
}

/* Responsive sidebar */
.sidebar__menu{
  display: none;
}

@media only screen and (max-width: 800px){

  .sidebar{
    position: static;
    left: 0;
    
    min-width: 60px;
    width: 10%;
    padding: var(--padding-small);
  }
  .sidebar__title{
    display: none;
  }
  .sidebar__content {
    display: none;
  }
  .sidebar__footer{
    display: none;
  }

  .sidebar__menu{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar__menu span {
    cursor: pointer;
  }

  .sidebar__menu--content p{
    width: 400px;
    font-size: 2.4rem;
    transform: rotate(-90deg);
    text-align: center;
  }
}