.card-detail {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  min-width: 320px;
  flex: 1;
  border-radius: .3rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;
  padding: 20px;
}

.card-detail__content {
  position: relative;
}

.card-detail__text {
  height: calc(100% - 83px);
  overflow: auto;
  width: 100%;
}

.card-detail__image {
  border: var(--color-secondary) 1px dashed;
  float: right;
  padding: 10px;
  width: 250px;
  height: 247px;
  margin: 10px;
}

.card-detail__image img {
  position: initial;
  width: 82%;
}

@media screen and (max-width: 1200px) {
  .card-detail {
    align-items: flex-start;
    flex-flow: column-reverse;
    height: auto;
  }
  .card-detail__text {
    width: 90%;
  }
  .card-detail__image {
    /* position: absolute; */
    /* right: 0;
    bottom: 0;
    floar
    opacity: .3; */
  }
}

@media screen and (max-width: 768px) {
  .card-detail {
    align-items: center;
    min-width: 240px;
    width: 100%;
    padding: var(--space-small);
  }
  .card-detail__text h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .card-detail {
    max-width: 240px;
  }
}