.card-detail{
  position: relative;
  display: flex;
  flex-flow: row nowrap; 
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-width: 320px; 
  height: 270px;
  border-radius: .3rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;
}

.card-detail__text {
  position: relative;
  width: 60%;
}
.card-detail__text p{
  overflow-y: auto;
}



.card-detail__image{
  border: var(--color-secondary) 1px dotted;
}
.card-detail__image img{
  width: 90%;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1200px){
  .card-detail {
    align-items: flex-start;
    flex-flow: column-reverse;
    height: auto;  
  }

  .card-detail__text{
    width: 90%;
  }
  .card-detail__image {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .3;
  }
}

@media screen and (max-width: 768px){
  .card-detail {
    align-items: center;
    min-width: 240px;
    width: 100%;
    padding: var(--space-small);
  }
  .card-detail__text h2{
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px){
  .card-detail{
    max-width: 240px;
  }
}