@import './Partials/variables.css';
@import './Partials/Reset.css';
@import './Partials/fonts.css';
@import './Partials/text.css';
@import './Partials/utils.css';

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
}

#app {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 1rem;
  opacity: .1;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
  height: 2rem;
  cursor: pointer;
}